= render 'shared/header'
.bereadcrumb-body
  - breadcrumb :logout
  = render "shared/breadcrumb"
= render 'shared/btn'
.topof1
.wrapper5
  .logout-main
    = render 'shared/side-bar'
    .logout-main__content
      .logout-main__content--btn
        ログアウト
= render 'shared/footer'