.index-top
  .container
    .header
      .header__top
        = link_to root_path, class:"header__top--logo" do
          = image_tag 'fmarket_logo_red.png'
        .header__top--text
          %input.search-form__input{placeholder: "何をお探しですか？", type: "text", value: ""}
          %i.fa.fa-search
      .header__menu
        .header__menu-left
          %li.header__menu-left--category
            %i.fas.fa-indent
            Fmarketについて
          %li.header__menu-left--brand
            %i.fas.fa-tag
            ブランドから探す
        -if user_signed_in?
          .header__menu-right
            = link_to todo_user_path(current_user.id), class: 'header__menu-right--link' do
              %li.header__menu-right--like
                %i.far.fa-heart
                いいね！一覧
            = link_to todo_user_path(current_user.id), class: 'header__menu-right--link' do
              %li.header__menu-right--news
                %i.far.fa-bell
                お知らせ
            = link_to todo_user_path(current_user.id), class: 'header__menu-right--link' do
              %li.header__menu-right--todo
                %i.fas.fa-check
                やることリスト
            = link_to users_path do
              %li.header__menu-right--mypage
                %i.far.fa-user
                マイページ
        -else
          .header__menu-right2
            = link_to new_user_path do
              .header__menu-right2--registration
                新規会員登録
            = link_to new_user_session_path do
              .header__menu-right2--login
                ログイン

      .my-menu
        .my-menu__img
          = image_tag 'マイページ背景.jpeg'
        .my-menu__name
          -if user_signed_in?
            #{current_user.name}
        .my-menu__status
          %sapn 評価: 0
          %span 出品数: 0
        %ul.my-menu__money
          %li.my-menu__list--item.money-list 売上金
          %li.my-menu__list--item.money-list ポイント
        %ul.my-menu__list
          %li.my-menu__list--item いいね！一覧
          %li.my-menu__list--item 出品した商品 - 出品中
          %li.my-menu__list--item 出品した商品 - 取引中
          %li.my-menu__list--item 出品した商品 - 売却済
          %li.my-menu__list--item 購入した商品 - 取引中
          %li.my-menu__list--item 購入した商品 - 過去の取引



