.slider
  .slider__item
    = link_to '#' do
      = image_tag '/assets/top1.png', class: "slider__item--img"
    %h2
      スマホで かんたん
      %br
      フリマアプリ
    %p
      メルカリはスマホカメラからすぐに出品できる
      %br
      購入時も安心な独自システムのアプリです
    .slider__store-link
      = link_to '#', class: "slider__store-link--apple" do
        = image_tag 'https://linkmaker.itunes.apple.com/en-gb/badge-lrg.svg?releaseDate=2012-05-31&kind=iossoftware&bubble=ios_apps',alt: 'Apple Store', width: "auto", height: "47px"

      = link_to '#', class: "slider__store-link--google" do
        = image_tag 'https://play.google.com/intl/ja/badges/static/images/badges/en_badge_web_generic.png',alt: 'Google Play で手に入れよう', width: "auto", height: "70px"

  .slider__item
    = link_to '#' do
      = image_tag '/assets/top2.png', class: ".slider__item--img"