.wapper1
  .log
    .log__main
      =link_to root_path,class:"" do
        = image_tag '/assets/fmarket_logo_red.svg', height: '49', width: '185'
  .buy-page
    .buy-page__top
      購入内容の確認
    .buy-page__center
      .buy-page__center--into
        .left
          -# = image_tag src=@item.image, height: '80', width: '80'
        .right
          .name
            =@item.name
          .plice
            ¥
            =@item.price
            (税込）着払い
    .buy-page__bottom
      .buy-page__bottom--into
        .top
          .plice
            .left
              支払い金額
            .right
              ¥
              =@item.price
          .buy-page__bottom--point
            %input{checked: "checked", class: "check", type: "checkbox"}
            ポイントを使用 (所持ポイント: P0)
        .middol
          .card
            .card__left
              支払い方法
            =link_to "",class:"card__right" do
              変更する
          .center
            = "**** **** **** " + @default_card_information.last4
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            %li.credit-limit
            = exp_month + " / " + exp_year
            %li visa
        .bottom
          .addres
            .addres__left
              支払い方法
            =link_to new_address_path,class:"addres__right" do
              変更する
          .news
            = current_user.address.postal_code
          .xx
            = current_user.address.prefucture
            = current_user.address.city
            = current_user.address.city_address
          .yy
            %li 　　　
            = current_user.address.name
            = current_user.address.name2
      = form_with url: buy_create_item_path(@item) ,method: :post, local: true do |f|
        %input{name: "buyer[user_id]", type: "hidden", value: current_user.id}
        %input{name: "buyer[item_id]", type: "hidden", value: @item.id}
        = f.fields_for @seller do |u|
          %input{name: "seller[user_id]", type: "hidden", value: @item.user_id}
          %input{name: "seller[item_id]", type: "hidden", value: @item.id}
        = f.submit '購入する', class: "buy-btn"
  .buy-footer
    .buy-footer__top
      =link_to "",class:"buy-footer__top--1" do
        プライバシーポリシー
      =link_to "",class:"buy-footer__top--2" do
        メルカリ利用規約
      =link_to "",class:"buy-footer__top--3" do
        特定商取引に関する表記
    .buy-footer__img
      = image_tag '/assets/logo_gray.svg', height: '65', width: '80'
    .buy-footer__fin
      © Mercari, Inc.
