//# ---------------header---------------
.content
  .header
    .header__top
      .header__top--logo
        %img{src: "/assets/fmarket_logo_red.svg"}
      .header__top--text
        %input.search-form__input{placeholder: "何をお探しですか？", type: "text", value: ""}
        %i.fa.fa-search
    .header__menu
      .header__menu-left
        %i.fas.fa-indent
        %li.header__menu-left--category メルカリについて
        %i.fas.fa-tag
        %li.header__menu-left--brand ブランドから探す
      .header__menu-right
        %i.far.fa-heart
        %li.header__menu-right--like いいね！一覧
        %i.far.fa-bell
        %li.header__menu-right--news お知らせ
        %i.fas.fa-check
        %li.header__menu-right--todo やることリスト
        %i.far.fa-user
        %li.header__menu-right--mypage マイページ


      .my-menu
        .my-menu__img
        .my-menu__name
          テスト
        .my-menu__status
          %sapn 評価: 0
          %span 出品数: 0
        %ul.my-menu__money
          %li.my-menu__list--item.money-list 売上金
          %li.my-menu__list--item.money-list ポイント
        %ul.my-menu__list
          %li.my-menu__list--item いいね！一覧
          %li.my-menu__list--item 出品した商品 - 出品中
          %li.my-menu__list--item 出品した商品 - 取引中
          %li.my-menu__list--item 出品した商品 - 売却済
          %li.my-menu__list--item 購入した商品 - 取引中
          %li.my-menu__list--item 購入した商品 - 過去の取引

.sell-icon
  %li.sell-text 出品
  %i.fas.fa-camera



.slider
  .slider__item
    = link_to '#' do
      = image_tag '/assets/top1.png', class: "slider__item--img"
    %h2
      スマホで かんたん
      %br
      フリマアプリ
    %p
      メルカリはスマホカメラからすぐに出品できる
      %br
      購入時も安心な独自システムのアプリです
    .slider__store-link
      = link_to '#', class: "slider__store-link--apple" do
        = image_tag 'https://linkmaker.itunes.apple.com/en-gb/badge-lrg.svg?releaseDate=2012-05-31&kind=iossoftware&bubble=ios_apps',alt: 'Apple Store', width: "auto", height: "47px"

      = link_to '#', class: "slider__store-link--google" do
        = image_tag 'https://play.google.com/intl/ja/badges/static/images/badges/en_badge_web_generic.png',alt: 'Google Play で手に入れよう', width: "auto", height: "70px"

  .slider__item
    = link_to '#' do
      = image_tag '/assets/top2.png', class: ".slider__item--img"
.footer-img
  .container
    .footer-img__heading
      スマホでかんたんフリマアプリ
    .footer-img__heading
      今すぐ無料ダウンロード！
    .footer-img__icon-box
      = image_tag "logo_white.svg", width: "60px", height: "auto";
      = link_to "", "#", class: "footer-img__icon-box--apple", style: "display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-gb/badge-lrg.svg?releaseDate=2012-05-31&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"
      = link_to '#', class: "footer-img__icon-box--google" do
        = image_tag 'https://play.google.com/intl/ja/badges/static/images/badges/en_badge_web_generic.png', alt: 'Google Play で手に入れよう', width: "auto", height: "60px"

//----------------------- Footer -----------------------//
%footer
  .container.footer
    %nav.footer-nav
      %ul.footer-nav__list
        %li.footer-nav__list--item メルカリについて
        %li.footer-nav__list--item 会社概要（運営会社）
        %li.footer-nav__list--item 採用情報
        %li.footer-nav__list--item プレスリリース
        %li.footer-nav__list--item 公式ブログ
        %li.footer-nav__list--item メルカリロゴ利用ガイドライン
        %li.footer-nav__list--item
          = icon 'fab', 'twitter', class: "sns-link"
          = icon 'fab', 'facebook', class: "sns-link"

      %ul.footer-nav__list
        %li.footer-nav__list--item ヘルプ＆ガイド
        %li.footer-nav__list--item メルカリガイド
        %li.footer-nav__list--item らくらくメルカリ便
        %li.footer-nav__list--item ゆうゆうメルカリ便
        %li.footer-nav__list--item 大型メルカリ便
        %li.footer-nav__list--item 車体取引ガイド
        %li.footer-nav__list--item メルカリあんしん・あんぜん宣言！
        %li.footer-nav__list--item 偽ブランド品撲滅への取り組み
        %li.footer-nav__list--item メルカリボックス

      %ul.footer-nav__list
        %li.footer-nav__list--item プライバシーと利用規約
        %li.footer-nav__list--item プライバシーポリシー
        %li.footer-nav__list--item メルカリ利用規約
        %li.footer-nav__list--item あんしんスマホサポート制度に関する利用特約
        %li.footer-nav__list--item コンプライアンスポリシー
      %ul.footer-nav__list.divid
        %li.footer-nav__list--item 個人データの安全管理に係る基本方針
        %li.footer-nav__list--item 特定商取引に関する表記
        %li.footer-nav__list--item 資金決済法に基づく表示
        %li.footer-nav__list--item 法令順守と犯罪抑止のために


      %ul.footer-nav__list
        %li.footer-nav__list--item 国
        %li.footer-nav__list--item 日本
        %li.footer-nav__list--item United States

    = image_tag "fmarket_logo_white.png", class: "footer__logo", width: "130px", height: "auto"
    .footer__copyright © 2019 Mercari

