.content
  .product
    .product-tag
      商品一覧
    .product-list
      .product-list__list
        .product-wrapper
          .product-wrapper__heading
            .heading-text
              新着アイテム
            .heading-option
              もっと見る
              %i.fa.fa-angle-right
              
          .product-wrapper__item
            .content
              .iteme-1
                .item-1__image
                  = image_tag src="https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg", size: "187x188" 
                  .item-1__image__price
                    ¥1,000
                %li.item-1__name スカート
            .content
              .iteme-1
                .item-1__image
                  = image_tag src="https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg", size: "185x188" 
                  .item-1__image__price
                    ¥1,000
                .item-1__name
                  スカート
            .content
              .iteme-1
                .item-1__image
                  = image_tag src="https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg", size: "185x188" 
                  .item-1__image__price
                    ¥1,000
                .item-1__name
                  スカート
            .content
              .iteme-1
                .item-1__image
                  = image_tag src="https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg", size: "185x188" 
                  .item-1__image__price
                    ¥1,000
                .item-1__name
                  スカート
            .content
              .iteme-1
                .item-1__image
                  = image_tag src="https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg", size: "185x188" 
                  .item-1__image__price
                    ¥1,000
                .item-1__name
                  スカート
            .content
              .iteme-1
                .item-1__image
                  = image_tag src="https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg", size: "185x188" 
                  .item-1__image__price
                    ¥1,000
                .item-1__name
                  スカート
            .content
              .iteme-1
                .item-1__image
                  = image_tag src="https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg", size: "185x188" 
                  .item-1__image__price
                    ¥1,000
                .item-1__name
                  スカート
            .content
              .iteme-1
                .item-1__image
                  = image_tag src="https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg", size: "185x188" 
                  .item-1__image__price
                    ¥1,000
                .item-1__name
                  スカート
            .content
              .iteme-1
                .item-1__image
                  = image_tag src="https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg", size: "185x188" 
                  .item-1__image__price
                    ¥1,000
                .item-1__name
                  スカート
            .content
              .iteme-1
                .item-1__image
                  = image_tag src="https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg", size: "185x188" 
                  .item-1__image__price
                    ¥1,000
                .item-1__name
                  スカート


            
                