= render 'shared/header'
= render 'shared/btn'
= render 'shared/slider'
= render 'shared/items'
= render 'shared/footer'

.overlay
  .animation-box
    = image_tag 'logo_red', class: "logo-animation"
    .animation-box__title
      .border-top
      .border-bottom
      .p-wrap
        %p.topToBottom f
        %p.bottomToTop r
        %p.topToBottom e
        %p.bottomToTop e
        %p.topToBottom m
        %p.bottomToTop a
        %p.topToBottom r
        %p.bottomToTop k
        %p.topToBottom e
        %p.bottomToTop t