= render 'shared/header'
= render 'shared/btn'
= render 'shared/slider'
= render 'shared/items'
= render 'shared/footer'

.overlay
  .animation-box
    %p f
    %p r
    %p e
    %p e
    %p m
    %p a
    %p r
    %p k
    %p e
    %p t