.sell-wrap
  .container
    = image_tag '/assets/fmarket_logo_red.svg', class: "sell-wrap__logo"
    %form
      .sell-box
        %h2 商品の情報を入力
        .sell-box__img.sell-box__section
          %h3
            出品画像
            %span 必須
          %p 最大10枚までアップロードできます
          .drop-zone
            %label.sell-box__img--input
              %p
                ドラッグアンドドロップ
                %br
                またはクリックしてファイルをアップロード
              %input{type: "file", multiple: true, name: "image0[]", id: "sell-img"}

        .sell-box__info.sell-box__section
          %h3
            商品名
            %span 必須
          %input{class: "sell-box__info--input sell-box__info--name", placeholder: "商品名（必須40文字まで）"}
          %h3.sell-box__info--textarea
            商品の説明
            %span 必須
          %textarea{class: "sell-box__info--input sell-box__info--description", rows: 6, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}

        .sell-box__details.sell-box__section.sell-box__section2
          .sell-box__details--left
            %h3.text-gray 商品の詳細
          .sell-box__details--right
            %h4
              カテゴリー
              %span 必須
            .select-wrap
              %select{class: "details", placeholder: "---"}
                %option{value: 1} ---
                %option{value: 2} レディース
                %option{value: 3} メンズ
              = icon 'fas', 'chevron-down'
            %h4
              商品の状態
              %span 必須
            .select-wrap
              %select{class: "details", placeholder: "---"}
                %option{value: 1} ---
                %option{value: 2} 新品、未使用
                %option{value: 3} 未使用に近い
              = icon 'fas', 'chevron-down'

        .sell-box__delivery.sell-box__section.sell-box__section2
          .sell-box__delivery--left
            %h3.text-gray 配送について
          .sell-box__delivery--right
            %h4
              配送料の負担
              %span 必須
            .select-wrap
              %select{class: "details", placeholder: "---"}
                %option{value: 1} ---
                %option{value: 2} レディース
                %option{value: 3} メンズ
              = icon 'fas', 'chevron-down'
            %h4
              発送元の地域
              %span 必須
            .select-wrap
              %select{class: "details", placeholder: "---"}
                %option{value: 1} ---
                %option{value: 2} 新品、未使用
                %option{value: 3} 未使用に近い
              = icon 'fas', 'chevron-down'
            %h4
              発送までの日数
              %span 必須
            .select-wrap
              %select{class: "details", placeholder: "---"}
                %option{value: 1} ---
                %option{value: 2} 新品、未使用
                %option{value: 3} 未使用に近い
              = icon 'fas', 'chevron-down'

        .sell-box__price.sell-box__section.sell-box__section2
          .sell-box__price--left
            %h3.text-gray 販売価格(300〜9,999,999)
          .sell-box__price--right
            .price-flex
              %h4
                価格
                %span 必須
              %input{class: "price-flex__input", placeholder: "例）300"}
            .price-flex
              %p.fee 販売手数料（10%）
              %p -
            .price-flex
              %p.profit 販売利益
              %p -
        .sell-box__confirmation.sell-box__section
          %p 禁止されている出品、行為を必ずご確認ください。
          %p またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
          %p また、出品をもちまして加盟店規約に同意したことになります。
          .sell-box__confirmation--exhibit-btn
            出品する
          .sell-box__confirmation--back-btn
            もどる
    %ul.other-footer
      %li プライバシーポリシー
      %li メルカリ利用規約
      %li 特定商取引による表記
    = image_tag '/assets/logo_gray.svg', width: "80px", height: "auto", class: "sell-wrap__logo-bottom"
    %p.copyright &copy; Freemarket_sample_64a

