= render 'shared/header'
.wrapper3
  .showpage
    .pp
    .show-top
      .show-top__tittle
        =@item.name
      .show-top__news
        「#{@item.name}」 は、19回の取引実績を持つすタップさんから出品されました。Tシャツ/カットソー(半袖/袖なし)/メンズの商品で、東京都から2~3日で発送されます。
      .show-top__explain
        .show-top__explain--image
          %ul.imagemain
            -# %li= image_tag @image.image.url, class:"imagemain-a" ,size:'300x300'
            %li= image_tag src= "商品画像4.jpg", class:"imagemain-b" ,size:'300x300'
            %li= image_tag src= "商品画像3.jpg", class:"imagemain-c" ,size:'300x300'
            %li= image_tag src= "購入確認image.jpg", class:"imagemain-d" ,size:'300x300'
          - unless @sold == nil
            .sold-mark-wrap
              .sold-mark
                .sold-mark__text
                  SOLD
          %ul.imagesab
            -# %li= image_tag @image.image.url, class:"imagesab-a none" ,size:'60x60'
            %li= image_tag src= "商品画像4.jpg", class:"imagesab-b none",size:'60x60'
            %li= image_tag src= "商品画像3.jpg", class:"imagesab-c none",size:'60x60'
            %li= image_tag src= "購入確認image.jpg", class:"imagesab-d none",size:'60x60'
        .show-top__explain--status
          .status-a
            .left
              出品者
            =link_to"",class:"right" do
              = @item.user_id
              .face
                %i.fas.fa-smile-beam
                19
                %i.fas.fa-meh
                0
                %i.fas.fa-tired
                0
          .status-b
            .left
              カテゴリー
            =link_to"",class:"right" do
              =@item.category
          .status-c
            .left
              ブランド
            .right
              
          .status-d
            .left
              商品のサイズ
            .right
              M
          .status-e
            .left
              商品の状態
            .right
              =@item.status
          .status-f
            .left
              配送料の負担
            .right
              =@item.burden
          .status-g
            .left
              配送の方法
            .right
              未定
          .status-h
            .left
              配送元地域
            =link_to"",class:"right" do
              =@item.area
          .status-i
            .left
              発送日の目安
            .right
              =@item.days
      .show-top__plice
        .show-top__plice--nmuber
          ¥
          =@item.price
        .show-top__plice--tax
          (税込) 
        .show-top__plice--send
          着払い
    - unless @sold == nil
      .show-top__buy-sold-btn
        売り切れました
    - else
      =link_to buy_item_path ,class:"show-top__buy" do
        購入画面に進む
    .show-top__text
      =@item.description
    .show-top__bottom
      .show-top__bottom--iine
        %i.far.fa-heart
        .iine
          いいね!
        .iine-num
          3
      .top__bottom--report
        %i.fa.fa-flag
        .report-text
        不適切な商品の報告
      .top__bottom--rock
        %i.fa.fa-lock
        あんしん・あんぜんへの取り組み
    .aa
    .show-messages
      .messages-left
        =link_to "", class: "" do
          %i.fas.fa-user-circle
      .messages-right
        .message-name
          =link_to "", class: "message-name__link" do
            Hayama328
        .message
          .message__top
            はじめまして。送料込みですといくらでしょうか？お安くしていただけると助かります！
          .message__bottom
            .message__bottom--left
              %i.far.fa-clock
              .time
                227 日前
            .message__bottom--right
              %i.fa.fa-flag
    .message-send
      .message-send__caution
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %input{class:"message-form", type:"text_area"}
      =link_to "",class:"send-btn" do
        コメントする
    .bb
      .left
        %i.fas.fa-chevron-left
        =link_to "",class: "left__link" do
          スズキスポーツ ヘッドキャップ L
      .right
        =link_to "",class: "right__link" do
          【秋田木工】コートハンガー 中古
        %i.fas.fa-chevron-right

    .show-ad
      .show-ad__line
        =link_to"https://www.facebook.com/",class:"facebook" do
          %i.fab.fa-facebook-square
        =link_to"https://twitter.com/",class:"twitter" do
          %i.fab.fa-twitter
        =link_to"https://www.pinterest.com",class:"pinterest" do
          %i.fab.fa-pinterest
    .cc
      Tシャツ/カットソー(半袖/袖なし) （メンズ） その他の商品
    .bottom
      -@items.each do |item|
        =link_to item_path([item.id]),class:"bottom__item-contents" do
          .bottom__item-contents--image
            -# = image_tag @image.image.url, size: "220x220"
          .bottom__item-contents--name
            .name
              =item.name
            .menu
              .price
                ¥
                =item.price
              .iine
                %i.far.fa-heart
                6

    .dd
  = render 'shared/footer'