= render 'shared/header'
.wrapper3
  .showpage
    .pp
    .top
      .top__tittle
        ボーナム Tシャツ
      .top__news
        『ボーナム Tシャツ』は、19回の取引実績を持つすタップさんから出品されました。Tシャツ/カットソー(半袖/袖なし)/メンズの商品で、東京都から2~3日で発送されます。
      .top__explain
        .top__explain--image
          .imagemain
          .imagesab
            .imagesab-a
            .imagesab-b
            .imagesab-c
            .imagesab-d
        .top__explain--status
          .status-a
            .left
              出品者
            =link_to"",class:"right" do
              すタップ
              .face
                %i.fas.fa-smile-beam
                19
                %i.fas.fa-meh
                0
                %i.fas.fa-tired
                0
          .status-b
            .left
              カテゴリー
            =link_to"",class:"right" do
              メンズ
          .status-c
            .left
              ブランド
            .right
              
          .status-d
            .left
              商品のサイズ
            .right
              M
          .status-e
            .left
              商品の状態
            .right
              未使用に近い
          .status-f
            .left
              配送料の負担
            .right
              着払い(購入者負担)
          .status-g
            .left
              配送の方法
            .right
              未定
          .status-h
            .left
              配送元地域
            =link_to"",class:"right" do
              東京都
          .status-i
            .left
              発送日の目安
            .right
              2~3日で発送
      .top__plice
        .top__plice--nmuber
          ¥1,999
        .top__plice--tax
          (税込) 
        .top__plice--send
          着払い

      =link_to "" ,class:"top__buy" do
        購入画面に進む
      .top__text
        %li #ボーナム
        %li #bahnam
        %li #tシャツ
        %li 海外のブランドのボーナムです。
        %li 知らない方は調べてみてください。
        %li 値下げ交渉はすぐにいたします。
      .top__bottom
        .top__bottom--iine
          %i.far.fa-heart
          .iine
            いいね!
          .iine-num
            3
          -# %i.fas.fa-heart
        .top__bottom--report
          %i.fa.fa-flag
          .report-text
          不適切な商品の報告
        .top__bottom--rock
          %i.fa.fa-lock
          あんしん・あんぜんへの取り組み
    .aa
    .show-messages
      .messages-left
        =link_to "", class: "" do
          %i.fas.fa-user-circle
      .messages-right
        .message-name
          =link_to "", class: "message-name__link" do
            Hayama328
        .message
          .message__top
            はじめまして。送料込みですといくらでしょうか？お安くしていただけると助かります！
          .message__bottom
            .message__bottom--left
              %i.far.fa-clock
              .time
                227 日前
            .message__bottom--right
              %i.fa.fa-flag
    .message-send
      .message-send__caution
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %input{class:"message-form", type: "text"}
      =link_to "",class:"send-btn" do
        コメントする
    .bb
      .left
        %i.fas.fa-chevron-left
        =link_to "",class: "left__link" do
          スズキスポーツ ヘッドキャップ L
      .right
        =link_to "",class: "right__link" do
          【秋田木工】コートハンガー 中古
        %i.fas.fa-chevron-right

    .show-ad
      .show-ad__line
        .facebook
          %i.fab.fa-facebook-square
        .twitter
          %i.fab.fa-twitter
        .pinterest
          %i.fab.fa-pinterest
    .cc
      Tシャツ/カットソー(半袖/袖なし) （メンズ） その他の商品
    .bottom
      .bottom__item-contents
        .bottom__item-contents--image
          = image_tag src="https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg", size: "220x220"
        .bottom__item-contents--name
          .name
            チャンピオン Tシャツ champion
          .menu
            .price
              ¥2200
            .iine
              %i.far.fa-heart
              6
      .bottom__item-contents
        .bottom__item-contents--image
          = image_tag src="https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg", size: "220x220"
        .bottom__item-contents--name
          .name
            チャンピオン Tシャツ champion
          .menu
            .price
              ¥2200
            .iine
              %i.far.fa-heart
              6
      .bottom__item-contents
        .bottom__item-contents--image
          = image_tag src="https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg", size: "220x220"
        .bottom__item-contents--name
          .name
            チャンピオン Tシャツ champion
          .menu
            .price
              ¥2200
            .iine
              %i.far.fa-heart
              6
      .bottom__item-contents
        .bottom__item-contents--image
          = image_tag src="https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg", size: "220x220"
        .bottom__item-contents--name
          .name
            チャンピオン Tシャツ champion
          .menu
            .price
              ¥2200
            .iine
              %i.far.fa-heart
              6
      .bottom__item-contents
        .bottom__item-contents--image
          = image_tag src="https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg", size: "220x220"
        .bottom__item-contents--name
          .name
            チャンピオン Tシャツ champion
          .menu
            .price
              ¥2200
            .iine
              %i.far.fa-heart
              6
      .bottom__item-contents
        .bottom__item-contents--image
          = image_tag src="https://o.imgz.jp/fashionnews/105709/cwhi5n7qwwrabxq.jpg", size: "220x220"
        .bottom__item-contents--name
          .name
            チャンピオン Tシャツ champion
          .menu
            .price
              ¥2200
            .iine
              %i.far.fa-heart
              6
    .dd
  = render 'shared/footer'