= form_tag(pay_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
  .card-wrapper
    = render "users/progress"
    .card-wrapper__innuner
      .card-top
        %h2 支払い方法
      .card-bottom
        .card-number
          %h2 
            カード番号
            %span 必須
          = text_field_tag "number", "", class: "card-number__input", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
          %ul.card-campny
            %li visa
            %li visa
            %li visa
            %li visa
            %li visa
        .date
          %h2 
            有効期限
            %span 必須
          .year-and-month
            .year-and-month__innuner
              %select#exp_month{name: "exp_month", type: "text"}
                %option{value: ""} --
                %option{value: "1"}01
                %option{value: "2"}02
                %option{value: "3"}03
                %option{value: "4"}04
                %option{value: "5"}05
                %option{value: "6"}06
                %option{value: "7"}07
                %option{value: "8"}08
                %option{value: "9"}09
                %option{value: "10"}10
                %option{value: "11"}11
                %option{value: "12"}12
              = icon 'fas', 'chevron-down'
              %h3 月
            .year-and-month__innuner
              %select#exp_year{name: "exp_year", type: "text"}
                %option{value: ""} --
                %option{value: "2019"}19
                %option{value: "2020"}20
                %option{value: "2021"}21
                %option{value: "2022"}22
                %option{value: "2023"}23
                %option{value: "2024"}24
                %option{value: "2025"}25
                %option{value: "2026"}26
                %option{value: "2027"}27
                %option{value: "2028"}28
                %option{value: "2029"}29
              = icon 'fas', 'chevron-down'
              %h3 年
        .security-code
          %h2 
            セキュリティーコード 
            %span 必須
          = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
          .pop
          %i.fa.fa-question-circle 
          %h4{class: "popup"}
            カード裏面の番号とは？
          #card_token
          = submit_tag "次へ進む", id: "token_submit", class:"next--btn"
    = render "users/footer"