!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %title Fmarket
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{href: "https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,700|Roboto:300,400,700&display=swap", rel: "stylesheet"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = yield
